# 
html-layout/prepros.config

# 
react-v1/node_modules
react-v1/config/
react-v1/public/
react-v1/scripts/
react-v1/build/

#
react-v2/node_modules
react-v2/public/

# 
server-express/node_modules
server-express/build
server-express/config/default.json

# 
server-python/

#
server-nest/node_modules
server-nest/dist
server-nest/.env