# 
htmlLayout/prepros.config

# 
/react/node_modules
/react/config/
/react/public/
/react/scripts/
/react/build/

#
/react2_0/node_modules
/react2_0/public/

# 
/serverNode/node_modules
/serverNode/build
/serverNode/config/default.json

# 
/serverPython
