// NORMALIZE
@import "./libs/normalize.scss";

// FONT
@import "./font.scss";

// VARIABLES
@import "./variables.scss";

// MIXIN
@import "./mixins.scss";

// SAMPLE
@import "./samples.scss";


// SCROLL BAR
::-webkit-scrollbar {
  width: 0px;
}

// иерархия заполнения стилей
// только сложные миксин или шаблон
// позиционирование и все что к нему отночится
// ширина и высота
// маргин и педдинг  
// дисплей и все что к нему относится 
// остальное (легкие миксины и шаблоны)

// SETTINGS
*{
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}

body{
  background-color: $medium;
}

// HEADER
.header{
  width: 100%;
  height: 70px;

  @extend %flexCenterCenter;

  &__wrapper{
    width: calc(100% - 26px);
    height: 55px;

    padding: 0px 16px 0px 16px;

    @extend %flexBetweenCenter;

    @include treeDIllusionM2_0(8px);
  }

  &__search-wrapper{
    width: 250px;
    height: 28px;

    @extend %flexBetweenCenter;
  }

  &__search-input{
    border: 0;

    background-color: $light;

    transition: $transitionValue;
    
    &:hover{
      background-color: $light-light;
    }

    &:focus{
      outline: 0;
    }
  }

  &__search-button{
    width: 29px;
    height: 29px;

    @extend %flexCenterCenter;

    border: 0;
    background-color: $light-medium;
    border-radius: 50%;

    transition: $transitionValue;
    &:hover{
      background-color: $light;
    }
  }

  &__button-wrapper{
    width: 250px;
    height: 28px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  &__add-question-button{
    width: 29px;
    height: 29px;

    margin: 0px 3px 0px 3px;

    @extend %flexCenterCenter;

    border: 0;
    background-color: $light-medium;
    border-radius: 50%;

    transition: $transitionValue;
    &:hover{
      background-color: $light;
    }
  }

}

// CONTENT
.content{
  width: 100vw;
  height: calc(100vh - 70px);

  display: flex;

  &__left-side{ 
    min-width: 250px;
    width: 20%;
    height: 100%;
    
    @extend %flexCenterCenter;
    padding: 0px 0px 10px 0px;

    &-wrapper{
      width: calc(100% - 26px);
      height: 100%;

      padding: 3px 10px 0px 10px;

      @extend %flexCenterCenter;

      @include treeDIllusionM2_0(8px);      
    }

    &-scroll-wrapper{
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }

    &-theme{
      @include buttonLeftSide(98%, 40px);

      &-item{
        @include buttonLeftSide(98%, 40px);
      }
    }

    &-add{
      &-theme{
        @include buttonLeftSide(98%, 40px);

        &-open{
          @include buttonLeftSide(98%, 40px);

          &-input{
            width: calc(100% - 60px);
            border: 0;

            background-color: $light;

            transition: $transitionValue;
            
            &:hover{
              background-color: $light-light;
            }

            &:focus{
              outline: 0;
            }
          }          
        }
      }
      
      &-question{
        @include buttonLeftSide(98%, 40px);
      }
    }

    &-question{
      @include buttonLeftSide(98%, 40px);
    }
    
    &-question-item-open{
      padding: 0px 10px 0px 10px;
      margin: 10px 0px 10px 0px;
      
      display: block;
      
      font-size: 18px;
    
      @include button(98%, 80px, 4px, 2px);

      &-top{
        height: 40px;

        @extend %flexBetweenCenter;
      }
      
      &-bottom{
        height: 40px;
  
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg{
          margin: 0px 0px 0px 8px;
        }
      }

      svg{
        width: 25px;
        height: 25px;
      }
    }

    &-question-item{
      @include buttonLeftSide(98%, 40px);
    }
  }

  &__right-side{
    width: 80%;
    height: 100%;

    padding: 0px 13px 10px 0px;

    &-wrapper{
      width: 100%;
      height: 100%;

      @include treeDIllusionM2_0(8px);  
    }
  }

}

// MODIFICATOR
.--buttonSelected{
  box-shadow: 2px 2px $dark, 4px 4px $dark, inset 2px 2px $grayGreen;
  background-color: $grayGreen;
}