// SAMPLE
%treeDIllusionS {
  background-color: $light-medium;
  box-shadow: 4px 4px $dark, 8px 8px $dark, inset 3px 3px $light;
  border-radius: $borderRadius;
}

%flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
