// SAMPLE
%treeDIllusionS {
  background-color: $light-medium;
  box-shadow: 4px 4px $dark, 8px 8px $dark, inset 3px 3px $light;
  border-radius: $borderRadius;
}

%flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%buttonsample{
  @extend %flexBetweenCenter;

  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;

  font-size: 18px;

  @include button(100%, 40px, 4px, 2px);
  svg{
    width: 25px;
    height: 25px;
  }
}

