// VARIABLES
$dark: #303030;
$medium: #9e9e9e;
$light-medium: #dedede;
$light: #f6f6f6;
$light-light: #fff;
$grayGreen: #92b19c;
$repeat-color: rgb(164, 82, 82);
$light-repeat-color: rgb(193, 47, 47);
$borderRadius: 0px;
$transitionValue: all .1s;