// MIXIN
@mixin treeDIllusionM($Shadow, $InsetS) {
  transition: $transitionValue;

  background-color: $light-medium;
  box-shadow: $Shadow/2 $Shadow/2 $dark, $Shadow $Shadow $dark, inset $InsetS $InsetS $light;
  border-radius: $borderRadius;

  &:hover{
    box-shadow: $Shadow/2 $Shadow/2 $dark, $Shadow $Shadow $dark;
    background-color: $grayGreen;
  }

  &:active{
    box-shadow: $Shadow/2/2 $Shadow/2/2 $dark, $Shadow/2 $Shadow/2 $dark;
  }
}

@mixin textShadow($Shadow) {
  text-shadow: $Shadow/2 $Shadow/2 $medium, $Shadow $Shadow $medium;
}

@mixin treeDIllusionM2_0($width) {
  background-color: $light-medium;
  
  box-shadow: $width/4 $width/4 $dark, inset $width/4 $width/4 $dark;

  border-radius: $borderRadius;
  border: $width ridge $light;
}

@mixin button($width, $heigth){
  width: $width;
  height: $heigth;
  
  border: 0;
  border-radius: $borderRadius;
  text-align: center;

  @include treeDIllusionM(5px, 2px);
}