html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
}
.content__left-side-wrapper, .content__left-side, .header__add-question-button, .header__search-button, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__left-side-question-item, .content__left-side-question-item-open-top, .content__left-side-question, .content__left-side-add-question, .content__left-side-add-theme-open, .content__left-side-add-theme, .content__left-side-theme-item, .content__left-side-theme, .header__search-wrapper, .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}

body {
  background-color: #9e9e9e;
}

.header {
  width: 100%;
  height: 70px;
}
.header__wrapper {
  width: calc(100% - 26px);
  height: 55px;
  padding: 0px 16px 0px 16px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.header__search-wrapper {
  width: 250px;
  height: 28px;
}
.header__search-input {
  border: 0;
  background-color: #f6f6f6;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.header__search-input:hover {
  background-color: #fff;
}
.header__search-input:focus {
  outline: 0;
}
.header__search-button {
  width: 29px;
  height: 29px;
  border: 0;
  background-color: #dedede;
  border-radius: 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.header__search-button:hover {
  background-color: #f6f6f6;
}
.header__button-wrapper {
  width: 250px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__add-question-button {
  width: 29px;
  height: 29px;
  margin: 0px 3px 0px 3px;
  border: 0;
  background-color: #dedede;
  border-radius: 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.header__add-question-button:hover {
  background-color: #f6f6f6;
}

.content {
  width: 100vw;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__left-side {
  min-width: 250px;
  width: 20%;
  height: 100%;
  padding: 0px 0px 10px 0px;
}
.content__left-side-wrapper {
  width: calc(100% - 26px);
  height: 100%;
  padding: 3px 10px 0px 10px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.content__left-side-scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.content__left-side-theme {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-theme:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-theme:focus {
  outline: 0;
}
.content__left-side-theme:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-theme svg {
  width: 20px;
  height: 20px;
}
.content__left-side-theme-item {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-theme-item:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-theme-item:focus {
  outline: 0;
}
.content__left-side-theme-item:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-theme-item svg {
  width: 20px;
  height: 20px;
}
.content__left-side-add-theme {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-add-theme:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-add-theme:focus {
  outline: 0;
}
.content__left-side-add-theme:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-add-theme svg {
  width: 20px;
  height: 20px;
}
.content__left-side-add-theme-open {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-add-theme-open:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-add-theme-open:focus {
  outline: 0;
}
.content__left-side-add-theme-open:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-add-theme-open svg {
  width: 20px;
  height: 20px;
}
.content__left-side-add-theme-open-input {
  width: calc(100% - 60px);
  border: 0;
  background-color: #f6f6f6;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.content__left-side-add-theme-open-input:hover {
  background-color: #fff;
}
.content__left-side-add-theme-open-input:focus {
  outline: 0;
}
.content__left-side-add-question {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-add-question:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-add-question:focus {
  outline: 0;
}
.content__left-side-add-question:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-add-question svg {
  width: 20px;
  height: 20px;
}
.content__left-side-question {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-question:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-question:focus {
  outline: 0;
}
.content__left-side-question:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-question svg {
  width: 20px;
  height: 20px;
}
.content__left-side-question-item-open {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  display: block;
  font-size: 18px;
  width: 98%;
  height: 80px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-question-item-open:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-question-item-open:focus {
  outline: 0;
}
.content__left-side-question-item-open:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-question-item-open-top {
  height: 40px;
}
.content__left-side-question-item-open-bottom {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__left-side-question-item-open-bottom svg {
  margin: 0px 0px 0px 8px;
}
.content__left-side-question-item-open svg {
  width: 25px;
  height: 25px;
}
.content__left-side-question-item {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-question-item:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-question-item:focus {
  outline: 0;
}
.content__left-side-question-item:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-question-item svg {
  width: 20px;
  height: 20px;
}
.content__right-side {
  width: 80%;
  height: 100%;
  padding: 0px 13px 10px 0px;
}
.content__right-side-wrapper {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}

.--buttonSelected {
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #92b19c;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #92b19c;
  background-color: #92b19c;
}