html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
}
.add-question-area, .content__right-side, .content__left-side-button-with-arrow-count, .content__left-side, .header__right-side-add-question-button, .header__left-side-input-button, .header__left-side-menu-button, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__left-side-button-add-question, .content__left-side-button-item-open-top, .content__left-side-button-item, .content__left-side-button-with-arrow, .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: calc(15px + 3 * (100vw / 2560));
  font-weight: 400;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
*:focus {
  outline: 0px;
}

body {
  background-color: #9e9e9e;
  overflow: hidden;
}

svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
svg:hover {
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
svg:active {
  background-color: #fff;
  border: 2px solid #fff;
}

.header {
  width: 100%;
  height: 70px;
}
.header__body {
  width: calc(100% - 26px);
  height: 55px;
  padding: 0px 10px 0px 10px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.header__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left-side-menu-button {
  margin: 0px 10px 0px 0px;
  border: 0px;
  background-color: #dedede;
}
.header__left-side-input {
  margin: 0px 3px 0px 0px;
  padding: 0px 5px 0px 5px;
  border: 0px;
  background-color: #f6f6f6;
}
.header__left-side-input:hover {
  background-color: #fff;
}
.header__left-side-input-button {
  border: 0px;
  background-color: #dedede;
}
.header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right-side-add-question-button {
  border: 0px;
  background-color: #dedede;
}

.content {
  position: relative;
  top: 0px;
  left: -20vw;
  width: 120vw;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__left-side {
  width: 20vw;
  height: 100%;
  padding: 0px 13px 10px 13px;
}
.content__left-side-body {
  width: 100%;
  height: 100%;
  padding: 2px 10px 0px 10px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.content__left-side-scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
.content__left-side-button-with-arrow {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
  margin: 25px 0px 10px 0px;
}
.content__left-side-button-with-arrow:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-button-with-arrow:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-button-with-arrow > div {
  width: 20px;
  height: 20px;
}
.content__left-side-button-with-arrow:hover .content__left-side-button-with-arrow-first-svg {
  background-color: #dedede;
  border: solid 2px #dedede;
}
.content__left-side-button-with-arrow:first-child {
  margin: 10px 0px 10px 0px;
}
div .content__left-side-button-with-arrow-title {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__left-side-button-with-arrow-count {
  margin: 0px 0px 0px 3px;
  padding: 2px 3px 1px 3px;
  background-color: #f6f6f6;
  border-radius: 0px;
}
.content__left-side-button-with-arrow:hover .content__left-side-button-with-arrow-count {
  background-color: #dedede;
}
.content__left-side-button-item {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-button-item:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-button-item:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-button-item > div {
  width: 20px;
  height: 20px;
}
.content__left-side-button-item:hover .content__left-side-button-with-arrow-first-svg {
  background-color: #dedede;
  border: solid 2px #dedede;
}
.content__left-side-button-item-open {
  width: 98%;
  height: 80px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
  padding: 0px 10px 0px 10px;
}
.content__left-side-button-item-open:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-button-item-open:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-button-item-open-top {
  height: 40px;
}
.content__left-side-button-item-open-top div {
  width: 20px;
  height: 20px;
}
.content__left-side-button-item-open-bottom {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.content__left-side-button-item-open-bottom-svg {
  border-radius: 0px;
}
.content__left-side-button-item-open-bottom-svg-wrapper {
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 4px;
}
.content__left-side-button-item-open-bottom-svg-wrapper:first-child {
  margin: 0px 0px 0px 0px;
}
.content__left-side-button-item-open:hover .content__left-side-button-with-arrow-first-svg {
  background-color: #dedede;
  border: solid 2px #dedede;
}
.content__left-side-button-add-question {
  padding: 0px 10px 0px 10px;
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
}
.content__left-side-button-add-question:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__left-side-button-add-question:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__left-side-button-add-question > div {
  width: 20px;
  height: 20px;
}
.content__left-side-button-add-question:hover .content__left-side-button-with-arrow-first-svg {
  background-color: #dedede;
  border: solid 2px #dedede;
}
.content__right-side {
  width: 100vw;
  height: 100%;
  padding: 0px 13px 10px 13px;
}
.content__right-side-body {
  width: 100%;
  height: 100%;
  padding: 30px 10px 10px 10px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.content__right-side-title {
  height: 20%;
  padding: 0px 30px 0px 30px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  overflow-x: scroll;
  text-shadow: 1.5px 1.5px #9e9e9e, 3px 3px #9e9e9e;
}
.content__right-side-text {
  height: 50%;
  overflow-x: scroll;
  text-align: center;
}
.content__right-side-button {
  width: auto;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
  margin: 0px 10px 0px 0px;
}
.content__right-side-button:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.content__right-side-button:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.content__right-side-button:last-child {
  margin: 0px 0px 0px 0px;
}
.content__right-side-button-wrapper {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-question-area {
  width: 100vw;
  height: calc(40vh - 70px);
  padding: 0px 13px 10px 13px;
}
.add-question-area-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.add-question-area-left-side {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add-question-area-left-side-title {
  width: 100%;
  min-height: 40px;
  height: 15%;
  padding: 0px 5px 0px 5px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.add-question-area-left-side-text {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  height: 47%;
  max-height: 47%;
  padding: 3px 5px 0px 5px;
  resize: none;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.add-question-area-left-side-theme {
  width: 100%;
  min-height: 40px;
  height: 15%;
  padding: 0px 5px 0px 5px;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, inset 2px 2px #303030;
          box-shadow: 2px 2px #303030, inset 2px 2px #303030;
  border-radius: 0px;
  border: 8px ridge #f6f6f6;
}
.add-question-area-right-side {
  width: 30%;
  height: 100%;
}
.add-question-area-right-side-button {
  width: 70%;
  height: 40px;
  border: 0;
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #f6f6f6;
  border-radius: 0px;
  min-width: 130px;
  margin: 15px 0px 0px 0px;
}
.add-question-area-right-side-button:hover {
  -webkit-box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
          box-shadow: 2.2222222222px 2.2222222222px #303030, 4.8px 4.8px #303030;
  background-color: #92b19c;
}
.add-question-area-right-side-button:active {
  -webkit-box-shadow: 1px 1px #303030, 2px 2px #303030;
          box-shadow: 1px 1px #303030, 2px 2px #303030;
}
.add-question-area-right-side-button:first-child {
  margin: 0px;
}
.add-question-area-right-side-button-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.--buttonSelected {
  -webkit-box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #92b19c;
          box-shadow: 2px 2px #303030, 4px 4px #303030, inset 2px 2px #92b19c;
  background-color: #92b19c;
}

.--repeatQuestion .content__left-side-button-with-arrow-first-svg {
  background-color: #a45252;
}
.--repeatQuestion:hover .content__left-side-button-with-arrow-first-svg {
  background-color: #c12f2f;
  border: 2px solid #c12f2f;
}

.--left-side-show {
  left: 0;
}

.--right-side-not-stretched {
  width: 80vw;
  padding: 0px 13px 10px 0px;
}

.--short-content {
  height: 60vh;
}

@media (max-width: 1499px) {
  .content {
    width: calc(100vw + 300px);
    left: -300px;
  }
  .content__left-side {
    width: 300px;
  }

  .--left-side-show {
    left: 0;
  }

  .--right-side-not-stretched {
    width: calc(100vw - 300px);
    padding: 0px 13px 10px 0px;
  }
}
@media (max-width: 541px) {
  .header__body {
    padding: 0px 5px 0px 3px;
  }
  .header__left-side-menu-button {
    margin: 0px 0px 0px 0px;
  }
  .header__left-side-input {
    width: 120px;
    margin: 0px 0px 0px 0px;
  }

  .content {
    width: 200vw;
    left: -100vw;
  }
  .content__left-side {
    width: 100vw;
  }
  .content__right-side {
    width: 100vw;
    padding: 0px 13px 10px 13px;
  }
  .content__right-side-title {
    height: 40%;
    padding: 0px;
    font-size: 25px;
  }
  .content__right-side-text {
    height: 40%;
  }
  .content__right-side-button-wrapper {
    height: 20%;
  }

  .add-question-area {
    height: 50vh;
  }
  .add-question-area-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .add-question-area-left-side {
    width: 100%;
    height: 60%;
  }
  .add-question-area-right-side {
    width: 100%;
    height: 40%;
  }
  .add-question-area-right-side-button {
    width: 100%;
  }
  .add-question-area-right-side-button-wrapper {
    width: 100%;
  }

  .--short-content {
    height: calc(50vh - 70px);
  }

  .--left-side-show {
    left: 0;
  }

  .--right-side-not-stretched {
    width: 100vw;
  }
}